[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
opencv-python = "*"
flask-mysqldb = "*"
pyjwt = "*"
pillow = "*"
opencv-contrib-python = "*"
flask-cors = "*"
httpretty = "*"

[dev-packages]

[requires]
python_version = "3.9"
