<div class="max-w-1440 w-full relative px-[52px] py-[39px] xl:pt-0 xl:h-[100vh] flex flex-col justify-around">
  <img src="./assets/icon/logo.svg" class="w-[146px]" alt="Nyo Smart - Logo">
  <div class="m-auto max-w-[633px] mb-[100px] mt-[50px]">
    <img #authImage alt="Authorize" class="w-[200px] mx-auto my-[20px]">
    <h3 class="text-center font-roboto font-bold text-[48px] text-[#268080] mb-[10px]">Authorize</h3>
    <p class="text-center font-roboto text-[16px] font-normal text-[#332B03C7] mb-[40px]">Clicking authorize below, you agree to allowing your face to be captured for authorization</p>
    <button class="bg-[#CC8914] px-[74px] py-[10px] rounded-[4px] text-[#fff] font-bold mx-auto block shadow-button" (click)="authorize()">Authorize</button>
  </div>
</div>
